@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  font-family: "Kanit", sans-serif;
}
.container {
  position: relative;
  width: 100%;
  height: 100vh; /* Pour que l'image prenne toute la hauteur de la fenêtre */
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.overlayText {
  position: absolute;
  top: 20%;
  left: 10%;
  color: #e2ff4d; /* Couleur du texte */
  z-index: 2; /* Pour être au-dessus de l'image */
}

.overlayText h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

.overlayText h2 {
  font-size: 2rem;
  font-weight: normal;
  margin: 0;
}